/* estilo para el encabezado*/
header{
    background-color:rgb(11, 123, 11);
    padding: 20px;
    text-align: center;
    color: white;
}
/* estilo para la barra de navegacion*/
nav a{
    color: black;
    text-decoration: none;
    margin: 0 15 px;
    font-weight: bold;
}
nav a:hover{
    color: aquamarine;
}
/* estio para la seccion principal*/
.contenedor{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(58, 14, 190);
}
.contenedor h2{
    color: #333;
}
.contenedor p{
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    
}